<h1 class="text-3xl font-bold mb-4">Editing post</h1>

<%= render "form", post: @post %>

<div class="mt-4">
  <%= link_to "Show this post", @post, class: "text-blue-500 hover:text-blue-700 mr-4" %> |
  <%= link_to "Back to posts", posts_path, class: "text-blue-500 hover:text-blue-700" %>
</div>
